body {
  margin: 0;
}

#navbar {
  background-color: black;
  justify-content: space-between;
  color: white;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
}

#links {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
}

#links h5 {
  margin-right: 1vw;
}

#home-page-div {
  text-align: center;
}

#home-page-div button {
  background-color: transparent;
  color: #16537e;
  border: 1px solid #16537e;
  box-shadow: 2px 2px black;
}

#posts-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#posts-header-div input {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-bottom: 1px solid black;
}
#postcard-container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  padding-left: 1vw;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}
#postcard-container button {
  background-color: transparent;
  color: #16537e;
  border-color: #16537e;
  width: 20%;
  height: 40px;
  margin-bottom: 1vh;
  margin-top: 2vh;
}

#registration-div {
  display: flex;
  flex-direction: column;
}

#registration-form {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  border: 2px solid black;
  padding: 20px;
}

#registration-form input,
label,
button {
  margin-top: 1vh;
}

#new-post-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto 0 auto;
}

#new-post-form input,
textarea,
label {
  padding: 1vh;
  margin: 1vh;
}

#new-post-h1 {
  text-align: center;
}

#profile-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#profile-messages {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  width: 60%;
  margin: 2vh;
}

#post-info-div {
  border: 2px solid black;
  box-shadow: 2px 2px black;
  width: 80%;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
}

#message-history-card {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px black;
}

#new-message-form textarea {
  width: 95%;
}

#new-message-form button {
  margin-left: 10px;
}
